<div class="footer">
<nav>
    <ul>
        <li><a href="#">Email address</a>
        <ul class="dropdown2">
            <li><a href="#">elvisnndi44@gmail.com</a></li>
        </ul>
        </li>

        <li>
            <a href="#">Phone number</a>
            <ul class="dropdown">
                <li><a href="#">08160960711</a></li>
            </ul>
        </li>
    </ul>
</nav>
</div>






<!-- 
<div class="footer">
    <nav>
        <ul>
            <li><a href="#">EMAIL ADDRESS</a>
                    <ul class="sub_menu">
                        <li><a href="">elvisnndi26@gmail.com</a></li>
                    </ul>
            </li>
            <li><a href="#">PHONE NUMBER</a></li>
        </ul>
    </nav>
</div> -->

