
.ESP_B{
    background-color: grey;
    margin-bottom: 0%;
}

.ESP_B h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
    margin-left: 34%;
    margin-bottom: 1%;
}

.ESP_B h3{
    margin-left: 40%;
    margin-top: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}


.esp_img{
    margin-top: 0%;
}

.esp_img img{
    width:100%;
    height: 85vh;
}



@media only screen and (max-width: 600px){
    /* .ESP_B h1{
        font-size: small;
    } 

 .ESP_B h3{
        font-size: small;
    } */

 .esp_img img{
        justify-content: center;
        
    } 
     
} 