<div class="section2">

    <div class="img">
        <img src="/assets/smiling-therapist-office.jpg" alt="">
    </div>

    <div>
        <h3>
            Life is messy real messy. Do you every sit back and this "wow this is not how i thought my life will be" Whatever it is that's going on, perhaps your situation is leaving you anxious, depressed, discouraged, and maybe even a little hopeless at times. I imagine you're here because you don't want to feel this way anymore. You're ready for something - anything, really - to change. Maybe someone encouraged you to reach out because they're worried about you. Maybe you're worried, too.

    Simply surviving is not healthy, and it's not sustainable. The good news is it doesn't have to be this way.
    
    It's time to talk to someone who's objective. Someone who isn't your partner/parent/sibling/friend/coworker. Someone who has training in this kind of thing. Someone who might actually get what you're going through. 
    
    Therapy. Where to even start with that?
    
    Whether you've worked with someone before or are starting out for the very first time, I'm so glad you're here. I'll walk this journey with you from start to finish. Take a look around the site to see if anything resonates with you. You can find out more information about me here. If you have additional questions or want to set something up, start by scheduling a free 15-minute phone consultation


        </h3>
    </div>

</div>